{% extends 'base.html.twig' %}

{% block title %}Modification d'un client{% endblock %}

{% block body %}
    <h1>Modification d'un client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('client/_delete_form.html.twig') }}
    <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Retour à la liste des clients</a>

{% endblock %}
