{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau client{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('app_client_index') }}" class="btn btn-secondary" >Retour à la liste des clients</a>
{% endblock %}
